<!DOCTYPE html>
<html lang="en" >

    <head>
        {% block head %}
        <meta charset = 'utf-8'>
        <meta name = 'viewport' content='width=device-width , initial-scale =1.0'>
        <title > {{user.name}}'s BookList</title>

        <link rel = 'icon' href ="{{url_for('static',filename='logo/vector/logo.svg')}}" >
        <link rel='stylesheet' href = "{{url_for('static',filename='css/index.css')}}" type='text/css'>
        {%endblock%}
    </head>

    <body>
        {% for message in get_flashed_messages() %}
            <div class='alert'>{{message}}</div>
        {% endfor %}
        <h2>
            <img alt = 'Avatar' class ='avatar' src = " {{url_for('static',filename='logo/vector/black.svg') }} ">
            {{user.name}}'s BookList
        </h2>


        <button >
            <a href="{{ url_for('login') }}" />

            login</button>
        <button>
            <a href="{{ url_for('logout') }}"/>
            logout
        </button>

        <button>
            <a href="{{ url_for('settings') }}"/>
            Settings
        </button>
        <nav>
            <ul>
                <li><a href = "{{url_for('index') }}">home</a></li>
            </ul>
        </nav>
        {%block content %}{%endblock%}
        <footer >
            <small>&copy; 2021 <a href="http://notion.lr-2002.fit">my_page</a></small>
        </footer>
    </body>
</html>